@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500';

:root {
  --background-color: #DDDCD5ff; /* timberwolf */
  --background-alt: #97A496ff; /* ash-gray */
  --text-color: #171812ff; /* eerie-black */
  --heading-color: #9E2D20ff; /* auburn */
  --error-color: #8F3A37ff; /* cordovan */
  --ok-color: #527A36ff; /* fern-green */

  --ash-gray: #97A496ff;
  --timberwolf: #DDDCD5ff;
  --ebony: #697268ff;
  --auburn: #9E2D20ff;
  --apple-green: #92A831ff;  
  --avocado: #67893Aff;
}

* {
  box-sizing: border-box;
}

body {
    margin: 0 auto;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 1.5;
    color: var(--text-color);
    background-color: var(--background-color);
}

h2 {
  color: var(--heading-color);
  margin-top: 1em;
  padding-top: 1em;
}

h1, strong  {
  color: var(--heading-color);
  text-align: center;
}

code {
  background: #f5f7f9;
  border-bottom: 1px solid #d8dee9;
  color: #a7adba;  }

code {
  padding: 2px 4px;
  vertical-align: text-bottom;
}

a {
  color: #30393f;
}

p.inboxActions {
  margin-bottom: 20px;
}

a.inboxAction {
  padding-bottom: 20px;
}

a.messageAction {
  margin-right: 20px;
}

pre {
  border-left: 2px solid #69c;
  padding: 1em;
  font-family: courier, "courier new", monospace;
  font-size: 18px;
  white-space: pre-wrap;       /* Since CSS 2.1 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
  color: #30393f;
}

.subjectLink {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}

button {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-size: 18px;
  background-color: var(--avocado);
  color: white;
  border: none;
  padding: 12px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 8px;
  z-index: -1;
  position: relative;
  /* margin-left: 0em; */
}

input[type="text"] {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-size: 18px;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid var(--background-alt);
  border-radius: 4px;
}

/* Remove ugly blue border when the element is selected */
input:focus {
  outline-width: 0;
}

textarea {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-size: 18px;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #d9d9d9;
  border-radius: 4px;
  width: 600px;
}

input[type="password"] {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-size: 18px;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #d9d9d9;
  border-radius: 4px;
}

input[type="button"] {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-size: 18px;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #d9d9d9;
  border-radius: 4px;
}


table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

th, td {
  padding: 15px;
}

table.inbox {
  width: 1000px;
  border: none;
  table-layout: fixed;
}

.tools__table {
  border: none;
}

.tools__table_row {
  border: none;
}

.tools__table_cell {
  border: none;
}

.description-text {
  font-style: italic;
  font-size: small;
}

th.inboxDate, th.inboxSubject, th.inboxFrom {
  text-transform: uppercase;
  border-top: 2px solid #333;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 2px solid #333;
}

th.inboxDate {
  width: 100px;
}

th.inboxSubject {
  width: 700px;
}

th.inboxFrom {
  width: 200px;
}

tr.inboxRow {
  border: none;
  border-bottom: 1px solid #d9d9d9;
}

tr.even.inboxRow {
  background-color: #a7adba;
}

td.dateCell, td.subjectCell, td.fromCell {
  border: none;
}

tr.inboxRow:hover {
  background-color:lightcyan;
}

table.sendMessage {
  width: 100%;
  table-layout: fixed;
  width: 800px;
  border: none;
}

tr.sendMessageRow {
  border: none;
}

td.sendToLabel, td.sendCcLabel, td.sendSubjectLabel {
  width: 100px;
  text-transform: uppercase;
  font-weight: bold;
  border: none;
}

td.sendBodyCell, td.sendSendCell, td.sendStatusCell {
  border: none;
}

input.sendTo, input.sendCc, input.sendSubject {
  border: none;
  border-bottom: 1px solid #a7adba;
  width: 100%;
}

td.sendToValue, td.sendCcValue, td.sendSubjectValue {
  border: none;
}

textarea.sendBody {
  width: 100%;
}

.top-link {
  padding: 12px;
}

div.content {
  max-width: 50em; 
  margin: auto;
  padding: 4em 1em;
}

div.modal {
  display: none;
  position: fixed;
  z-index: 1; 

  /* Center in parent. */
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  width: 75%;
  height: 75%;
  background-color: #888;
  border: #333;
  border-style: solid;
  overflow: hidden;
}

.modal_content {
  position:absolute;
  background-color: #fefefe;
  margin: 3%;
  border: 1px solid #888;
  width: 94%; 
  overflow: scroll;
  display: block;
  top: 0;
  bottom: 50px;
}

.modal_entry {
  font-family: courier, "courier new", monospace;
  font-size: 18px;
  margin-left: 5px;
  margin-bottom: 5px;
}

.modal_controls {
  position: absolute;
  display: block;
  height: 50px;
  width: 100%;
  bottom:0;
}

.modal_control {
  display: block;
  margin-left: 3%;
}

.main-header {
  margin: 0;
  padding-left: 32px;
  padding-right: 32px;
  width: 100%;
  background-color: var(--ash-gray);
  position: fixed;
}

.main-header li {
  display: inline-block;
  margin-left: 20px;
}

.main-header li.main-header__image {
  padding: 0
}

.main-header__logo {
  display: inline-block;
  vertical-align: middle;
}

.main-header > nav {
  display: inline-block;
  text-align: right;
  vertical-align: middle;
  width: calc(100% - 50px);
}

.status-text {
  color: var(--avocado);
  font-style: italic;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 42px;
  right: 20px;
  background-color: #f1f1f1;
  min-width: 120px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  border-radius: 6px;
  z-index: 1;
  text-align: left;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}


.dropdown:hover .dropdown-content {display: block;}