@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500';

body {
    margin: 0 auto;
    max-width: 50em;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 1.5;
    padding: 4em 1em;
    color: #30393f;
}

 /* .nav-bar{
  width: 30%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: auto;
} */
/*
.nav-bar a{
  text-decoration: none;
  color: red;
  display: block;
}
.nav-bar ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.nav-bar ul li a{
  padding: 10px;
}

.nav-bar ul li a:hover{
  background: #173459;
}
.nav-bar li{
}
.nav-bar li:last-child{
  border: none;
}

.content{
  margin-left: 30%;
  width: 70%;
  padding: 2%;
} */
  
h2 {
  margin-top: 1em;
  padding-top: 1em;
}

h1, h2, strong  {
  color: #333;
}

code {
  background: #f5f7f9;
  border-bottom: 1px solid #d8dee9;
  color: #a7adba;  }

code {
  padding: 2px 4px;
  vertical-align: text-bottom;
}

a {
  color: #30393f;
}

p.inboxActions {
  margin-bottom: 20px;
}

a.inboxAction {
  padding-bottom: 20px;
}

a.messageAction {
  margin-right: 20px;
}


pre {
  border-left: 2px solid #69c;
  padding: 1em;
  font-family: courier, "courier new", monospace;
  font-size: 18px;
  white-space: pre-wrap;       /* Since CSS 2.1 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
  color: #30393f;
}

.subjectLink {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}

button {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-size: 18px;
  background-color: #0099ff;
  border: none;
  color: white;
  padding: 12px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 8px;
  /* margin-left: 0em; */
}

input[type="text"] {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-size: 18px;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #d9d9d9;
  border-radius: 4px;
}

textarea {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-size: 18px;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #d9d9d9;
  border-radius: 4px;
  width: 600px;
}

input[type="password"] {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-size: 18px;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #d9d9d9;
  border-radius: 4px;
}

input[type="button"] {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-size: 18px;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #d9d9d9;
  border-radius: 4px;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

th, td {
  padding: 15px;
}

table.inbox {
  width: 1000px;
  border: none;
  table-layout: fixed;
}

th.inboxDate, th.inboxSubject, th.inboxFrom {
  text-transform: uppercase;
  border-top: 2px solid #333;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 2px solid #333;
}

th.inboxDate {
  width: 100px;
}

th.inboxSubject {
  width: 700px;
}

th.inboxFrom {
  width: 200px;
}

tr.inboxRow {
  border: none;
  border-bottom: 1px solid #d9d9d9;
}

tr.even.inboxRow {
  background-color: #a7adba;
}

td.dateCell, td.subjectCell, td.fromCell {
  border: none;
}

tr.inboxRow:hover {
  background-color:lightcyan;
}

table.sendMessage {
  width: 100%;
  table-layout: fixed;
  width: 800px;
  border: none;
}

tr.sendMessageRow {
  border: none;
}

td.sendToLabel, td.sendCcLabel, td.sendSubjectLabel {
  width: 100px;
  text-transform: uppercase;
  font-weight: bold;
  border: none;
}

td.sendBodyCell, td.sendSendCell, td.sendStatusCell {
  border: none;
}

input.sendTo, input.sendCc, input.sendSubject {
  border: none;
  border-bottom: 1px solid #a7adba;
  width: 100%;
}

td.sendToValue, td.sendCcValue, td.sendSubjectValue {
  border: none;
}

textarea.sendBody {
  width: 100%;
}

.top-link {
  padding: 12px;
}

/* .top-menu {
  display: inline-block;
  *display: inline;
} */