@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500';

body {
    margin: 0 auto;
    max-width: 50em;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 1.5;
    padding: 4em 1em;
    color: #30393f;
  }
  
h2 {
  margin-top: 1em;
  padding-top: 1em;
}

h1, h2, strong  {
  color: #333;
}

code {
  background: #f5f7f9;
  border-bottom: 1px solid #d8dee9;
  color: #a7adba;  }

code {
  padding: 2px 4px;
  vertical-align: text-bottom;
}

a {
  color: #e81c4f;
}

pre {
  border-left: 2px solid #69c;
  padding: 1em;
  font-family: courier, "courier new", monospace;
  font-size: 18px;
  white-space: pre-wrap;       /* Since CSS 2.1 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
  color: #30393f;
}

.subjectLink {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}

button {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-size: 18px;
  background-color: #0099ff;
  border: none;
  color: white;
  padding: 12px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 8px;
  margin-left: 1em;
}

input[type="text"] {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-size: 18px;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #d9d9d9;
  border-radius: 4px;
}

input[type="password"] {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-size: 18px;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #d9d9d9;
  border-radius: 4px;
}

input[type="button"] {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-size: 18px;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #d9d9d9;
  border-radius: 4px;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

th, td {
  padding: 15px;
}

/* code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  } */
  