body {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.5;
  padding: 4em 1em;
  color: #30393f;
}

a {
  color: #30393f;
}

pre {
  border-left: 2px solid #69c;
  padding: 1em;
  font-family: courier, "courier new", monospace;
  font-size: 18px;
  white-space: pre-wrap;       /* Since CSS 2.1 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
  color: #30393f;
}

a.messageAction {
  margin-right: 20px;
}

.messageBody {
  margin: 0 auto;
  max-width: 50em;
  line-height: 1.5;
  padding: 4em 1em;
  color: #30393f;
}

.subjectLink {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}

.subjectLinkUnseen {
  color: blue;
  text-decoration: underline;
  font-weight: bold;
  cursor: pointer;
}

.subjectLinkRecent {
  color: red;
  text-decoration: underline;
  font-weight: bold;
  cursor: pointer;
}

table.inbox {
  width: 100%;
  table-layout: fixed;
}

th.inboxDate, th.inboxSubject, th.inboxFrom {
  text-transform: uppercase;
  border-top: 2px solid #333;
  border-bottom: 2px solid #333;
}

th.inboxDate {
  width: 20%;
}

th.inboxSubject {
  width: 60%;
}

th.inboxFrom {
  width: 20%;
}

tr.inboxRow {
  border-bottom: 1px solid #d9d9d9;
}

/* tr.inboxRow:nth-child(even) {
  background-color: lightgoldenrodyellow;
} */

tr.inboxRow:hover {
  background-color:lightcyan;
}

td.dateCell, td.subjectCell, td.fromCell {
  border-bottom: 1px solid #d9d9d9;
  padding-top: 10px;
  padding-bottom: 10px;
}

td.subjectCell {
  padding-left: 20px;
}

.messageFrom, .messageTo, .messageCc, .messageBcc {
  font-style: italic;
}

.messageSecure {
  color:green;
  font-weight: bold;
}

.messageAttachmentName {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}