body{
    /* background-image: url('login-bg.jpg');
    background-size: cover; */
}

.flexbox-container{
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    height: 100vh;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
}

.custom-card{
    padding: 30px 10px;
    min-width: 750px;
}

.row{
    margin-bottom: 15px;
}

.card-title {
    margin-bottom: 35px;
    text-align: center;
}

.display-none{
    display: none;
}

.display-block{
    display: block;
}

.display-flex{
    display:flex;
}

.password-field{
    min-width: 180px;
    margin-right: 25px;
}

.border-0{
    background: none;
    border: 0;
}

@media (min-width: 768px){
    .col-sm-offset-2 {
        margin-left: 16.66666667%;
    }

    .col-sm-offset-3 {
        margin-left: 25%;
    }

    .col-sm-offset-4 {
        margin-left: 33.33333334%;
    }
}

@media (max-width: 768px){
   .custom-card{
       min-width: 350px;
   }

    .border-0{
        width: 100px;
    }

    .password-field{
        min-width: 100px;
    }

    .mb-10{
        margin-bottom: 10px;
    }
}